<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dsfg</display-name>
    <servlet-name>Dsfg</servlet-name>
    <servlet-class>Dsfg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dsfg</servlet-name>
    <url-pattern>/Dsfg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show_static20</display-name>
    <servlet-name>show_static20</servlet-name>
    <servlet-class>show_static20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_static20</servlet-name>
    <url-pattern>/show_static20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show_dynamic20</display-name>
    <servlet-name>show_dynamic20</servlet-name>
    <servlet-class>show_dynamic20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_dynamic20</servlet-name>
    <url-pattern>/show_dynamic20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample21</display-name>
    <servlet-name>ShowSample21</servlet-name>
    <servlet-class>ShowSample21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample21</servlet-name>
    <url-pattern>/ShowSample21</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample22</display-name>
    <servlet-name>ShowSample22</servlet-name>
    <servlet-class>ShowSample22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample22</servlet-name>
    <url-pattern>/ShowSample22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample23</display-name>
    <servlet-name>ShowSample23</servlet-name>
    <servlet-class>ShowSample23</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample23</servlet-name>
    <url-pattern>/ShowSample23</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show_dynamic20</display-name>
    <servlet-name>Show_dynamic20</servlet-name>
    <servlet-class>Show_dynamic20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show_dynamic20</servlet-name>
    <url-pattern>/Show_dynamic20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show_static20</display-name>
    <servlet-name>Show_static20</servlet-name>
    <servlet-class>Show_static20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show_static20</servlet-name>
    <url-pattern>/Show_static20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample23a</display-name>
    <servlet-name>ShowSample23a</servlet-name>
    <servlet-class>ShowSample23a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample23a</servlet-name>
    <url-pattern>/ShowSample23a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample23b</display-name>
    <servlet-name>ShowSample23b</servlet-name>
    <servlet-class>ShowSample23b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample23b</servlet-name>
    <url-pattern>/ShowSample23b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstSession24</display-name>
    <servlet-name>FirstSession24</servlet-name>
    <servlet-class>FirstSession24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstSession24</servlet-name>
    <url-pattern>/FirstSession24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFirstSession</display-name>
    <servlet-name>ShowFirstSession</servlet-name>
    <servlet-class>ShowFirstSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFirstSession</servlet-name>
    <url-pattern>/ShowFirstSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFirstSession24</display-name>
    <servlet-name>ShowFirstSession24</servlet-name>
    <servlet-class>ShowFirstSession24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFirstSession24</servlet-name>
    <url-pattern>/ShowFirstSession24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSecondSession24</display-name>
    <servlet-name>ShowSecondSession24</servlet-name>
    <servlet-class>ShowSecondSession24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSecondSession24</servlet-name>
    <url-pattern>/ShowSecondSession24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstView24</display-name>
    <servlet-name>FirstView24</servlet-name>
    <servlet-class>FirstView24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstView24</servlet-name>
    <url-pattern>/FirstView24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondView24</display-name>
    <servlet-name>SecondView24</servlet-name>
    <servlet-class>SecondView24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondView24</servlet-name>
    <url-pattern>/SecondView24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample24</display-name>
    <servlet-name>ShowSample24</servlet-name>
    <servlet-class>ShowSample24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample24</servlet-name>
    <url-pattern>/ShowSample24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInputform24</display-name>
    <servlet-name>ShowInputform24</servlet-name>
    <servlet-class>ShowInputform24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInputform24</servlet-name>
    <url-pattern>/ShowInputform24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showinputform</display-name>
    <servlet-name>Showinputform</servlet-name>
    <servlet-class>Showinputform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showinputform</servlet-name>
    <url-pattern>/Showinputform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showresult24</display-name>
    <servlet-name>Showresult24</servlet-name>
    <servlet-class>Showresult24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showresult24</servlet-name>
    <url-pattern>/Showresult24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample24a</display-name>
    <servlet-name>ShowSample24a</servlet-name>
    <servlet-class>ShowSample24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample24a</servlet-name>
    <url-pattern>/ShowSample24a</url-pattern>
  </servlet-mapping>
</web-app>