<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dsfg</display-name>
    <servlet-name>Dsfg</servlet-name>
    <servlet-class>Dsfg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dsfg</servlet-name>
    <url-pattern>/Dsfg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show_static20</display-name>
    <servlet-name>show_static20</servlet-name>
    <servlet-class>show_static20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_static20</servlet-name>
    <url-pattern>/show_static20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show_dynamic20</display-name>
    <servlet-name>show_dynamic20</servlet-name>
    <servlet-class>show_dynamic20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_dynamic20</servlet-name>
    <url-pattern>/show_dynamic20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample21</display-name>
    <servlet-name>ShowSample21</servlet-name>
    <servlet-class>ShowSample21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample21</servlet-name>
    <url-pattern>/ShowSample21</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample22</display-name>
    <servlet-name>ShowSample22</servlet-name>
    <servlet-class>ShowSample22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample22</servlet-name>
    <url-pattern>/ShowSample22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample23</display-name>
    <servlet-name>ShowSample23</servlet-name>
    <servlet-class>ShowSample23</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample23</servlet-name>
    <url-pattern>/ShowSample23</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show_dynamic20</display-name>
    <servlet-name>Show_dynamic20</servlet-name>
    <servlet-class>Show_dynamic20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show_dynamic20</servlet-name>
    <url-pattern>/Show_dynamic20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show_static20</display-name>
    <servlet-name>Show_static20</servlet-name>
    <servlet-class>Show_static20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show_static20</servlet-name>
    <url-pattern>/Show_static20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample23a</display-name>
    <servlet-name>ShowSample23a</servlet-name>
    <servlet-class>ShowSample23a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample23a</servlet-name>
    <url-pattern>/ShowSample23a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample23b</display-name>
    <servlet-name>ShowSample23b</servlet-name>
    <servlet-class>ShowSample23b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample23b</servlet-name>
    <url-pattern>/ShowSample23b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstSession24</display-name>
    <servlet-name>FirstSession24</servlet-name>
    <servlet-class>FirstSession24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstSession24</servlet-name>
    <url-pattern>/FirstSession24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFirstSession</display-name>
    <servlet-name>ShowFirstSession</servlet-name>
    <servlet-class>ShowFirstSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFirstSession</servlet-name>
    <url-pattern>/ShowFirstSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFirstSession24</display-name>
    <servlet-name>ShowFirstSession24</servlet-name>
    <servlet-class>ShowFirstSession24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFirstSession24</servlet-name>
    <url-pattern>/ShowFirstSession24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSecondSession24</display-name>
    <servlet-name>ShowSecondSession24</servlet-name>
    <servlet-class>ShowSecondSession24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSecondSession24</servlet-name>
    <url-pattern>/ShowSecondSession24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstView24</display-name>
    <servlet-name>FirstView24</servlet-name>
    <servlet-class>FirstView24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstView24</servlet-name>
    <url-pattern>/FirstView24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondView24</display-name>
    <servlet-name>SecondView24</servlet-name>
    <servlet-class>SecondView24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondView24</servlet-name>
    <url-pattern>/SecondView24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample24</display-name>
    <servlet-name>ShowSample24</servlet-name>
    <servlet-class>ShowSample24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample24</servlet-name>
    <url-pattern>/ShowSample24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInputform24</display-name>
    <servlet-name>ShowInputform24</servlet-name>
    <servlet-class>ShowInputform24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInputform24</servlet-name>
    <url-pattern>/ShowInputform24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showinputform</display-name>
    <servlet-name>Showinputform</servlet-name>
    <servlet-class>Showinputform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showinputform</servlet-name>
    <url-pattern>/Showinputform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showresult24</display-name>
    <servlet-name>Showresult24</servlet-name>
    <servlet-class>Showresult24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showresult24</servlet-name>
    <url-pattern>/Showresult24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample24a</display-name>
    <servlet-name>ShowSample24a</servlet-name>
    <servlet-class>ShowSample24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample24a</servlet-name>
    <url-pattern>/ShowSample24a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSubSample24</display-name>
    <servlet-name>ShowSubSample24</servlet-name>
    <servlet-class>ShowSubSample24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSubSample24</servlet-name>
    <url-pattern>/ShowSubSample24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample25</display-name>
    <servlet-name>ShowSample25</servlet-name>
    <servlet-class>ShowSample25</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample25</servlet-name>
    <url-pattern>/ShowSample25</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>app-name</param-name>
    <param-value>jsp-trial</param-value>
  </context-param>
  <context-param>
    <param-name>app-est</param-name>
    <param-value>2018Nov</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ShowSample26</display-name>
    <servlet-name>ShowSample26</servlet-name>
    <jsp-file>/WEB-INF/jsp/sample26.jsp</jsp-file>
    <init-param>
      <param-name>name</param-name>
      <param-value>java</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample26</servlet-name>
    <url-pattern>/servlet/ShowSample26</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample20</display-name>
    <servlet-name>ShowSample20</servlet-name>
    <servlet-class>ShowSample20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample20</servlet-name>
    <url-pattern>/ShowSample20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample27a</display-name>
    <servlet-name>ShowSample27a</servlet-name>
    <servlet-class>ShowSample27a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample27a</servlet-name>
    <url-pattern>/ShowSample27a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample27b</display-name>
    <servlet-name>ShowSample27b</servlet-name>
    <servlet-class>ShowSample27b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample27b</servlet-name>
    <url-pattern>/ShowSample27b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSample28a</display-name>
    <servlet-name>ShowSample28a</servlet-name>
    <servlet-class>ShowSample28a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample28a</servlet-name>
    <url-pattern>/ShowSample28a</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://localhost:8080/tags/sample</taglib-uri>
      <taglib-location>/WEB-INF/lib/sampletags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ShowSample29</display-name>
    <servlet-name>ShowSample29</servlet-name>
    <servlet-class>ShowSample29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSample29</servlet-name>
    <url-pattern>/ShowSample29</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExeTags29</display-name>
    <servlet-name>ExeTags29</servlet-name>
    <servlet-class>ShowSample29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExeTags29</servlet-name>
    <url-pattern>/ExeTags29</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExeSample29</display-name>
    <servlet-name>ExeSample29</servlet-name>
    <servlet-class>ShowSample29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExeSample29</servlet-name>
    <url-pattern>/ExeSample29</url-pattern>
  </servlet-mapping>
</web-app>